$black-grad: linear-gradient(90deg, #4c4c4c 0%, #110c0c 22.92%);
$gray: #666;
$pink-grad: linear-gradient(90deg, #f6929f 0%, #ffc0c8 100%);
$pink: #fe8b9a;
$gray-light-grad: linear-gradient(90deg, #fdfbfb 0%, #ebedee 100%);
$gray-grad: linear-gradient(160deg, #706464 11.36%, #4a4141 86.83%);
